/*
** Colors
*/

$grey-text: #6c6c6c;
$blue-primary: #0079c2;
$blue-secondary: #37a1d5;
$grey-background: #ebebeb;
$color-main-content: #f5f5f5;
$white: #ffffff;
$blue-strong-focus: #1c3e4e;

/*
** Fonts Sizes
*/

$body-font-size: 13px;
$message-board-font-size: 16px;

/*
** Fonts Weights
*/

$body-font-weight: 300;

/*
** Fonts Family
*/
$body-font-family: 'Open Sans', sans-serif;

/*
** Layout
*/

$layout-min-height: 700px;
$layout-max-width: 1280px;

/*
** Borders
*/
$border-bottom-title-grid: 3px solid #1c3e4e;
$border-raduis: 5px;
